* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logoMokshauno{     
    position: fixed;
    height: 90px;
    width: 90px;
    top: 0%;
    right: 0%;
    border-style: solid;
    color: rgba(65, 12, 12, 0.151);
    padding: 1px;
    margin: 1px;
    transition: 5s;
}

.logoMokshauno:hover{
    transform: rotateY(180deg);
}
.productos {
    padding: 10px;
    margin-left: 2px;
    width: 100%;
    justify-content:space-around;
    align-items: center;
    transition: 2s; 
}

.productos:hover {
    transform: rotateY(180deg);
}

.fotografias {
    padding: 10px;
    margin-left: 2px;
    width: 100%;
    justify-content:space-around;
    align-items: center;
    transition: 2s; 
}

.fotografias:hover {
    transform: rotateY(180deg);
}

header{
    background-color: bisque;
}

main{
    background-color: rgb(255, 238, 238);
}


@media screen and (max-width: 768px) {
 .productos{      
    flex-direction: column;
    justify-self: center;
    align-items: center;
    justify-items: center;

    align-items: center;
    text-align: center;
    margin-right: auto!important;
    margin-left: auto!important;
    
 }
 .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-direction: column; 
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.col-3{
    flex: 0 0 auto;
    width: auto;
}

.col-4{
    flex: 0 0 auto;
    width: auto;
}

.prueba-productos{
    display: flex;     
    flex-direction: column; 
    justify-content: space-between;
    height: 300px;
}

.fotografias{
 
    justify-self: center;
}

}

@media screen and (max-width: 320px) {
    .productos{      
        flex-direction: column;
        justify-self: center;
        align-items: center;
        justify-items: center;
      
        align-items: center;
        text-align: center;
        margin-right: auto!important;
        margin-left: auto!important;
        
     }

     .fotografias{
    
    }
}

.col-md-auto {
    flex: 0 0 auto;
    width: auto;
}